.angular-calendar {
    i {
        display: inline-block;
        font-style: normal;
    }
}

.angular-calendar-header {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
    line-height: 42px;
    font-weight: bold;
    color: #111;
    width: 312px;
    height: 55px;
    top: 41px;
    text-align: center;

    .next, .previous, .display {
        display: inline-block;
        width: 10%;
        margin: 0;
        padding: 0;
        vertical-align: middle;
        text-align: center;
    }

    .next, .previous {
        width: 7%;
    }

    .display {
        width: 80%;
    }

    .next:before {
        content: "";
        display: block;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 10px solid #aaa;
    }

    .previous:before {
        content: "";
        display: block;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 10px solid #aaa;
    }
}

.angular-calendar-grid {
    table {
        width: 312px;
    }

    th {
        font-size: 10px;
        color: #888;
        text-align: center;
        padding-bottom: 3px;
    }
}

.angular-calendar-row {
    td {
        width: 14%;
        border: 1px solid #ddd;
        border-right: 0;
        border-bottom: 0;
        height: 40px;
        line-height: 42px;
        font-size: 16px;
        font-weight: bold;
        position: relative;
        text-align: center;

        i {
            width: 4px;
            height: 4px;
            border-radius: 100%;
            background: #de342d;
            position: absolute;
            bottom: 5px;
            left: 21px;
        }

        &.current i {
            background: #fff;
        }
    }
    td.today {
        color: #de342d;
    }
    td.past {
        color: #aaa;
    }
    td.future {
        color: #999;
    }
    td.current {
        background: #de342d;
        color: #fff;
        border-radius: 100%;
    }
}

.angular-calendar-events {
    width: 312px;
    height: auto;
    background: #eee;
    border-top: 1px solid #ddd;

    li {
        list-style: none;
        padding: 15px 0 15px 0px;
        border-bottom: 1px solid #ddd;
        text-align: left;
        font-size: 14px;
        line-height: 14px;
        font-weight: bold;
        background: #f9f9f9;
        position: relative;
    }
    li.alt {
        background: #fff;
    }

    li i {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: #de342d;
    }
    li i.work {
        background: #4e8dda;
    }
    li i.personal {
        background: #23be22;
    }

    li span {
        font-size: 10px;
        width: 60px;
    }

    li em {
        font-size: 11px;
        display: inline;
        font-weight: normal;
        color: #888;
    }

    &.time-scale {}
    &.time-scale .outer {
        height: 300px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    &.time-scale .inner {
        position: relative;
        height: 1000px;
        overflow-y: hidden;
        overflow-x: hidden;
        background-color: #d6d6d6;
    }
    &.time-scale .event {
        position: absolute;
        margin-left: 50px;
        background-color: #eee;
        border: 1px solid #dcdcdc;
        border-left: 5px solid #24e;
    }
    &.time-scale .tick {
        position: absolute;
        background-color: transparent;
        border-top: 1px solid #e90;
        width: 100%;
    }
    &.time-scale .tick .label {
        color: #e90;
    }
}


